@import './variadles.scss';

.card {
	padding: 2rem;
	background: $dark-blue;
	text-align: left;
	color: inherit;
	text-decoration: none;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	border-radius: 10px;
	height: 38rem;
	min-width: 30rem;
	transform: translateY(-5);
	transition: transform 0.5s ease-out;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem
}

.card:hover {
	transform: translateY(-5px);
}

.img {
	object-fit: cover;
	border-radius: 10px;
}

.info {
	width: 100%;
	height: 50%;
}

.name {
	font-size: 1.8rem;
	font-weight: 800;
}

.info p {
	font-size: 1.4rem;
	font-weight: 300;
}
