@import './variadles.scss';

.backButtonWrap {
	width: 320px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flagWrap {
	height: 100%;
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

@media (max-width: 420px) {
	.flagWrap {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}
