@import './variadles.scss';

.listbox {
	width: 15rem;
	height: 5rem;
	justify-self: end;
	z-index: 1000;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
	@include variable(backgroundElements, background-color, black);
}

.listboxButton {
	width: 100%;
	height: 100%;
	@include variable(backgroundElements, background-color, black);
	border: none;
	border-radius: 10px;
	padding: 1rem;
	cursor: pointer;

	display: grid;
	grid-template-columns: 1fr 2rem;
	align-items: center
}

.listOptions {
	width: 100%;
	height: auto;
	list-style: none;
	margin: 0;
	margin-top: 1rem;
	padding: 0;
	border-radius: 10px;
	overflow-y: auto;
	box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
}

.option::before {
	content: '';
	position: absolute;
	@include variable(backgroundElements, background-color, black);
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: 0.4s ease-out;
	box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
}

.option {
	position: relative;
	width: 100%;
	height: 20%;
	grid-column: 2 / 3;
	padding: 1rem;
	background-color: $dark-gray;
	display: grid;
	grid-template-columns: 2rem 1fr;
	transition: 0.2s 0.1s;
}

.checkIcon {
	z-index: 1000;
}

.valueName {
	position: relative;
	justify-self: start;
	align-self: center;
	padding-left: 1rem;
}

.selectedCountry {
	background: $dark-gray;
}

.option:hover::before {
	width: 0%;
}

.option:hover {
	@include variable(colorHover, color, black);
	transition: 0.2s 0.1s;
}
