@import './variadles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @include variable(background, background,
    $very-dark-blue-background);
  @include variable(color, color,
    white);
}

:root {
  --backgroundElements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --color: hsl(0, 0%, 100%);
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

/* .dark {
  @include variable(color, color, $white);
  @include variable(background, background,
    $very-dark-blue-background);
  @include variable(backgroundCard, background, $dark-blue);
  color: $white;
  background: $very-dark-blue-background;
}

.light {
  @include variable(color, color, $very-dark-blue-color);
  @include variable(background, background, $very-light-gray);
  @include variable(backgroundCard, background, $white);
  color: $very-dark-blue-color;
  background: $very-light-gray;
}*/

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit
}
