@import './variadles.scss';

.filters {
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: center;
	align-items: center;
	grid-gap: 2rem 0;
	padding-top: 2rem;
}

.dropDown {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-self: end;
}

.main {
	height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	width: 100%;
	height: 100%;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2rem 2rem
}

.link {
	width: 100%;
}

.moreCountries {
	width: 100%;
	height: 5rem;
	@include variable(backgroundElements, background, black);
	cursor: pointer;
	font-size: 1.6rem;
	border: none;
	border-radius: 1rem;
	box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
}

.moreCountries:hover {
	background: $dark-gray;
}

.moreCountries:active {
	transform: scale(95%);
	;
}

.moreCountries:disabled {
	background: red;
}

@media (max-width: 680px) {
	.dropDown {
		justify-self: start;
	}
}
