@import './variadles.scss';

.filters {
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: center;
	align-items: center;
	grid-gap: 2rem 0;
	padding-top: 2rem;
}

.dropDown {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-self: end;
}

@media (max-width: 680px) {
	.dropDown {
		justify-self: start;
	}
}
