@import './variadles.scss';

.container {
	width: 100%;
	height: 5rem;

}

.input {
	appearance: none;
	width: 100%;
	height: 100%;
	padding: 9px 4px 9px 40px;
	border: none;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
	@include variable(backgroundElements, background, black);
	font-size: 1.8rem;
}

.input::placeholder {
	@include variable(color, color, white);
}
